.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* margin-left: 1rem; */
}

.header{
    text-align: center;
    margin-top: -3rem;
}

.header>h1{
    font-size: 3rem;
    margin-bottom: 0;
}
.header>h2{
    margin-top: 0;
    font-size: 1.1rem;
}

.details{
    width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.image>img{
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 20px;
    margin-right: 7rem;
}

.content{
    width: 25rem;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;  */

}

.content > p{
    font-size: 1.25rem;
}

.download{
    width: 12rem;
    height: 4rem;
    margin-top: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-decoration: none;
}



.download:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media (max-width: 1350px){
    .details{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .image{
        margin-left: 7rem;
        margin-bottom: 2rem;
    }
    .content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .download{
        width: 15rem;
        height: 5rem;
        font-size: 1.35rem;
    }
}

@media (max-width: 650px){
    .header>h1{
        font-size: 2rem;
    }
    .header>h2{
        font-size: 0.9rem;
    }
    .image>img{
        height: 14rem;
        width: 14rem;
    }
    .content>p{
        width: 18rem;
        font-size: 0.9rem;
    }
}