.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.header{
    text-align: center;
}

.header>h1{
    font-size: 3rem;
    margin-bottom: 0;
}

.header>h2{
    font-size: 1.1rem;
    /* font-weight: 500; */
    margin-top: 0;
}

.skill_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.frontend{
    height: 30rem;
    width: 65rem;
    /* border: 1px solid rgb(218, 210, 210); */
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    margin: 2.5rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* margin-left: 5rem; */
}

.backend{
    height: 25rem;
    width: 35rem;
    /* border: 2px solid gray; */
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

@media (max-width: 1350px){
    .frontend{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:6.5rem 6.5rem 6.5rem 6.5rem 6.5rem;
        height: 35rem;
        width: 32rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (max-width: 650px){
    .header>h1{
        font-size: 2rem;
    }
    .header>h2{
        font-size: 1rem;
    }
    .frontend{
        width: 28rem;
    }
}